<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://code.jquery.com/jquery.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Libre+Baskerville" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
    <title>News Scraper</title>
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
            <a class="navbar-brand font-weight-light" href="/">Mongo Scraper</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto font-weight-lighter">
                    <li class="nav-item active">
                        <a class="nav-link" href="/" id="home">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="saved-articles" href="/saved">Saved Articles</a>
                    </li>
                    <li class="nav-item mt-1">
                        {{#if home}}
                        <button class="btn btn-danger btn-scrape my-2 my-sm-0 text-uppercase" type="button">Scrape New
                            Articles!</button>
                        {{/if}}
                        <button class="btn btn-danger btn-clear my-2 my-sm-0 text-uppercase" type="button">Clear
                            Articles!</button>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <div class="jumbotron text-center img-fluid" style="">
        <div style="background-color: rgba(0,0,0, 0.5); height: 100%;">
            <h3 class="text-uppercase mb-4">
                <span class="span-title">M</span>ongo <span class="span-title">S</span>craper
            </h3>
            <p class="text-uppercase p-word">
                <span class="span-word">N</span>ew <span class="span-word">Y</span>ork <span class="span-word">T</span>imes
                <span class="span-word">E</span>dition
            </p>
        </div>
    </div>

    {{{ body }}}

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>

    <script src="/js/index.js"></script>
</body>

</html>