<div class="jumbotron text-center img-fluid" style="">
    <div style="background-color: rgba(0,0,0, 0.5); height: 100%;">
        <h3 class="text-uppercase mb-4">
            <span class="span-title">M</span>ongo <span class="span-title">S</span>craper
        </h3>
        <p class="text-uppercase p-word">
            <span class="span-word">N</span>ew <span class="span-word">Y</span>ork <span class="span-word">T</span>imes
            <span class="span-word">E</span>dition
        </p>
    </div>
</div>

<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            Special title treatment
            <a href="/" class="btn btn-success float-right text-uppercase">Save Article</a>
        </div>
        <div class="card-body">
            <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        </div>
    </div>
</div>